<nav class="navbar navbar-custom navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" id="menuBtn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a href="#/"><img src="img/logo.png" alt="mvstudio" id="logo"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav mobilenav">
        <li class="active">
          <a href="#/contact">Контакти</a>
        </li>
        <li>
          <a href="#/calendar">Календар</a>
        </li>
        <li>
          <a href="#/price">Ціни</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
